/*
* {
    margin: 0;
}

.maincon {
    display: flex;
}

.main {
    margin-left: 23rem;
    margin-top: 30px;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

#statusFilter {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border: solid rgb(24, 62, 214) 1px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.mainHeader h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
}


.sideBar {
    background-color: rgb(6, 6, 185);
    position: fixed;
    width: 320px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}
.header--sb {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-bottom: 5px solid rgb(172, 172, 24);
    height: 120px;
    column-gap: 12px;
    
}

.header--sb h1{
    color:rgb(90, 1, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.header--sb img {
    width: 50px;
    margin-left: 15px;
}

.itemLinks-sb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dashboardSec {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    column-gap: 30px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.recordSec{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    column-gap: 24px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    background-color: rgba(0, 115, 255, 0.605);
}

.recordSec {
    margin-top: 30px;
}

.pendingSec, .approvedSec, .disapprovedSec {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    column-gap: 30px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 25px;
}

.facultySec{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    column-gap: 30px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    margin-top: 30px;

}

.dashboardSec:hover, .facultySec:hover{
    color: rgb(0, 128, 255);
    cursor: pointer;
}

.recordSec img {
    width: 40px
}

.dashboardSec img {
    width: 30px;
}

.facultySec img {
    width: 40px;
}

.accountSec {
    display: flex;
    align-items: center;
    margin-top:  25rem;
    column-gap: 10px;
    margin-left: -4rem;
}

.accountSec img {
    width: 24px;
}

#account {
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
*/
* {
    margin: 0;
    padding: 0;
}

.maincon {
    display: flex;
}

.main {
    margin-left: 23rem;
    margin-top: 30px;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.mainHeader h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
}


.sideBar {
    background-color: rgb(6, 6, 185);
    position: fixed;
    width: 320px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}
.header--sb {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-bottom: 5px solid rgb(172, 172, 24);
    height: 120px;
    column-gap: 12px;
    
}

.header--sb h1{
    color:rgb(90, 1, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.header--sb img {
    width: 50px;
    margin-left: 15px;
}

.itemLinks-sb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dashboardSec {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    column-gap: 30px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.recordSec{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    column-gap: 24px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    background-color: rgba(0, 115, 255, 0.605);
}

.pendingSec {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    column-gap: 30px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 25px;
}

.approvedSec {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    column-gap: 30px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 25px;
}

.disapprovedSec {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    column-gap: 30px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 25px;
}

.facultySec {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    column-gap: 30px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 30px;

}

.recordSec {
    margin-top: 30px;
}

.dashboardSec:hover, .recordSec:hover, .facultySec:hover, .pendingSec:hover, .approvedSec:hover, .disapprovedSec:hover{
    color: rgb(0, 128, 255);
    cursor: pointer;
}

.recordSec img {
    width: 40px
}

.dashboardSec img {
    width: 30px;
}

.facultySec img {
    width: 40px;
}

.accountSec {
    display: flex;
    align-items: center;
    margin-top:  3rem;
    column-gap: 10px;
    margin-left: -10rem;
}

.accountSec img {
    width: 24px;
}

#account {
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

/*=========================================content style==========================================*/

.classRecordContainer {
    margin-top: 30px;
}

.recordDivStyle {
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgb(175, 174, 174);
    border-radius: 5px;
    padding: 10px 10px;
    width: 900px;
    margin-top: 12px;
    height:30px;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left, .center {
    display: flex;
    column-gap: 30px;
}

.view {
    background-color: rgb(244, 232, 11);
    color: #fff;
    padding: 9px;
    border: 1px solid rgb(226, 216, 13);
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.view:hover {
    cursor: pointer;
    background-color: rgb(147, 147, 0);
}

.subjCode {text-transform: uppercase;};
.subjTitle {text-transform: capitalize};

.status {
    background-color: rgba(188, 187, 187, 0.862);
    color: #fff;
    padding: 9px;
    border: 1px solid rgba(188, 187, 187, 0.862);
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100px;
}

.approve, .disapprove {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: rgb(3, 3, 169);
    text-decoration: underline;
    transition:0.3s;
}


.approve:hover {
    color: rgb(102, 209, 102);
    cursor: pointer;
    text-decoration: none;
}

.disapprove:hover {
    color: rgb(220, 82, 82);
    cursor: pointer;
    text-decoration: none;

}

.subjTitle {
    text-transform: capitalize;
}

.statusFilter {
    height: 35px;
    border-radius: 4px;
    padding: 9px 9px;
    width: 15rem;
    background-color: #fff;
    border: rgba(13, 73, 213, 0.942) 2px solid;
    color: rgba(13, 73, 213, 0.942)
    
}